<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Restaurant_ManagerDatabase" 
			 connectionString="workstation id=RestaurantManagerDatabase.mssql.somee.com;packet size=4096;user id=vitiellx_SQLLogin_2;pwd=wqmjy4hi4l;data source=RestaurantManagerDatabase.mssql.somee.com;persist security info=False;initial catalog=RestaurantManagerDatabase;TrustServerCertificate=True"/>
		
		<add name="DefaultConnection"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=RestaurantManagerDB;Trusted_Connection=True;MultipleActiveResultSets=true"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>